<div class="bg-black container py-3 position-relative">
  <p class="fs-2">Get The FreshCart App</p>
  <p>We Well Send You a Link</p>
  <div class="row justify-content-between">
    <div class="col-lg-10 mb-3">
      <div class="form-group">
        <input
          name="email"
          id="email"
          type="text"
          placeholder="your email address"
        />
      </div>
    </div>
    <div class="col-lg-2">
      <button class="btn-sec w-100">Share App Link</button>
    </div>
  </div>
  <p class="text-center pt-2 mb-1">
    © 2023 Karim Mostafa Ali All Rights Reserved
  </p>
  <div class="text-center my-0">
    <a
      class="text-white fs-4"
      aria-current="page"
      href="https://github.com/Karim-Mostafa-Ali"
      ><i class="fab fa-github fa-lg cursor-pointer px-2 fs-5"></i
    ></a>
    <a
      class="text-white fs-4"
      aria-current="page"
      href="https://www.facebook.com/karim.ali.99"
      ><i class="fab fa-facebook-f fa-lg cursor-pointer px-2 fs-5"></i
    ></a>

    <a
      class="text-white fs-4"
      aria-current="page"
      href="https://twitter.com/9KarimAli"
      ><i class="fab fa-twitter fa-lg cursor-pointer px-2 fs-5"></i
    ></a>

    <a
      class="text-white fs-4"
      aria-current="page"
      href="https://www.instagram.com/karim.ali_/"
      ><i class="fab fa-instagram fa-lg cursor-pointer px-2 fs-5"></i
    ></a>

    <a
      class="text-white fs-4"
      aria-current="page"
      href="https://www.linkedin.com/in/karim-ali-584405199/"
      ><i class="fab fa-linkedin-in fa-lg cursor-pointer px-2 fs-5"></i
    ></a>
  </div>
</div>
