<nav class="navbar navbar-expand-lg bg-black">
  <div class="container-fluid">
    <a class="navbar-brand text-white fw-bold text-gradient" routerLink="home"
      ><i class="fa-brands fa-opencart pe-2 fs-4"></i>FreshCart</a
    >
    <button
      class="navbar-toggler border-2 border-dark"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 iconslinks">
        <!-- small nav -->
        <li class="nav-item navbuttons small-nav d-none">
          <a
            class="nav-link active fw-bold text-gradient"
            aria-current="page"
            routerLink="/login"
            routerLinkActive="active-link"
            >Login</a
          >
        </li>
        <li class="nav-item navbuttons small-nav d-none">
          <a
            class="nav-link active fw-bold text-gradient"
            aria-current="page"
            routerLink="register"
            routerLinkActive="active-link"
            >Register</a
          >
        </li>
        <div class="d-none icons-div">
          <li class="nav-item">
            <a
              class="nav-link active text-white"
              aria-current="page"
              href="https://github.com/Karim-Mostafa-Ali"
              ><i class="fab fa-github fa-lg cursor-pointer"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active text-white"
              aria-current="page"
              href="https://www.facebook.com/karim.ali.99"
              ><i class="fab fa-facebook-f fa-lg cursor-pointer"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active text-white"
              aria-current="page"
              href="https://twitter.com/9KarimAli"
              ><i class="fab fa-twitter fa-lg cursor-pointer"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active text-white"
              aria-current="page"
              href="https://www.instagram.com/karim.ali_/"
              ><i class="fab fa-instagram fa-lg cursor-pointer"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active text-white"
              aria-current="page"
              href="https://www.linkedin.com/in/karim-ali-584405199/"
              ><i class="fab fa-linkedin-in fa-lg cursor-pointer"></i
            ></a>
          </li>
        </div>

        <!-- small nav -->

        <!-- large nav -->
        <!-- <li class="nav-item large-nav">
          <a class="nav-link active text-white" aria-current="page"
            ><i class="fab fa-instagram fa-lg cursor-pointer"></i
          ></a>
        </li>
        <li class="nav-item large-nav">
          <a class="nav-link active text-white" aria-current="page"
            ><i class="fab fa-facebook-f fa-lg cursor-pointer"></i
          ></a>
        </li>
        <li class="nav-item large-nav">
          <a class="nav-link active text-white" aria-current="page"
            ><i class="fab fa-tiktok fa-lg cursor-pointer"></i
          ></a>
        </li>
        <li class="nav-item large-nav">
          <a class="nav-link active text-white" aria-current="page"
            ><i class="fab fa-twitter fa-lg cursor-pointer"></i
          ></a>
        </li>
        <li class="nav-item large-nav">
          <a class="nav-link active text-white" aria-current="page"
            ><i class="fab fa-linkedin-in fa-lg cursor-pointer"></i
          ></a>
        </li>
        <li class="nav-item me-2 large-nav">
          <a class="nav-link active text-white" aria-current="page"
            ><i class="fab fa-youtube fa-lg cursor-pointer"></i
          ></a>
        </li> -->
        <li class="nav-item navbuttons large-nav">
          <a
            class="nav-link active fw-bold text-gradient"
            aria-current="page"
            routerLink="/login"
            routerLinkActive="active-link"
            >Login</a
          >
        </li>
        <li class="nav-item navbuttons large-nav">
          <a
            class="nav-link active fw-bold text-gradient"
            aria-current="page"
            routerLink="register"
            routerLinkActive="active-link"
            >Register</a
          >
        </li>

        <!-- large nav -->
      </ul>
    </div>
  </div>
</nav>
