<section class="my-5">
  <div class="row g-4 container mx-auto">
    <div class="col-md-3" *ngFor="let category of categories">
      <div>
        <div class="product bg-white">
          <div class="product-body">
            <div
              [routerLink]="['/categories', category._id]"
              class="cursor-pointer"
            >
              <img
                [src]="category.image"
                class="w-100"
                [alt]="category.name"
                height="270px"
              />
              <h3 class="h6 pt-2 text-center border-top mt-2">
                {{ category.name }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
